.user-image {
    width: 80px; /* tamaño de la imagen */
    height: 80px; /* tamaño de la imagen */
    object-fit: cover; /* ajuste de la imagen */
    margin-bottom: 1rem; /* margen inferior */
  }
.ajustes-image {
    width: 50px; /* Ajusta el tamaño según sea necesario */
    height: auto; /* Mantiene la proporción */
    object-fit: cover; /* Ajuste de la imagen */
    margin-top: 1rem; /* Margen superior */
    margin-left: auto; /* Alinea a la derecha */
    margin-right: 0; /* Alinea a la derecha */
    display: block; /* Necesario para que funcione el margen */
  }

  .graduacion-image {
    width: 70px; /* Ajusta el tamaño según sea necesario */
    height: 70px; /* Ajusta el tamaño según sea necesario */
    background-image: url('./graduacion.png'); /* Ruta a la imagen */
    background-size: cover; /* Ajusta la imagen al contenedor */
    background-position: center; /* Centra la imagen */
    margin: 1rem auto; /* Centra el contenedor con margen automático */
 }
 .tendencia-image {
  width: 70px; /* Ajusta el tamaño según sea necesario */
  height: 70px; /* Ajusta el tamaño según sea necesario */
  background-image: url('./tendencia.png'); /* Ruta a la imagen */
  background-size: cover; /* Ajusta la imagen al contenedor */
  background-position: center; /* Centra la imagen */
  margin: 1rem auto; /* Centra el contenedor con margen automático */
 }

.robot-image {
  width: 70px; /* Ajusta el tamaño según sea necesario */
  height: 70px; /* Ajusta el tamaño según sea necesario */
  background-image: url('./robot.png'); /* Ruta a la imagen */
  background-size: cover; /* Ajusta la imagen al contenedor */
  background-position: center; /* Centra la imagen */
  margin: 1rem auto; /* Centra el contenedor con margen automático */
 }