/* Estilos globales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%; /* Asegura que el body y html ocupen toda la pantalla */
}

body {
  background-image: url('/FondoLumi.webp'); /* Asegura que la imagen esté en la carpeta public */
  background-size: cover; /* La imagen cubrirá toda la pantalla */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* No repetir la imagen */
  margin: 0;
  overflow: hidden; /* Evita el desbordamiento de contenido */
}

/* Aseguramos que el resto de las imágenes no sobrescriban el fondo */
.user-image,
.ajustes-image,
.graduacion-image,
.tendencia-image,
.robot-image {
  z-index: 2; /* Aseguramos que las imágenes y los botones no tapen el fondo */
}

/* Estilos específicos para las imágenes de los botones */

.user-image {
    width: 80px; /* tamaño de la imagen */
    height: 80px; /* tamaño de la imagen */
    object-fit: cover; /* ajuste de la imagen */
    margin-bottom: 1rem; /* margen inferior */
  }
.ajustes-image {
    width: 50px; /* Ajusta el tamaño según sea necesario */
    height: auto; /* Mantiene la proporción */
    object-fit: cover; /* Ajuste de la imagen */
    margin-top: 1rem; /* Margen superior */
    margin-left: auto; /* Alinea a la derecha */
    margin-right: 0; /* Alinea a la derecha */
    display: block; /* Necesario para que funcione el margen */
  }

  .graduacion-image {
    width: 70px; /* Ajusta el tamaño según sea necesario */
    height: 70px; /* Ajusta el tamaño según sea necesario */
    background-image: url('./graduacion.png'); /* Ruta a la imagen */
    background-size: cover; /* Ajusta la imagen al contenedor */
    background-position: center; /* Centra la imagen */
    margin: 1rem auto; /* Centra el contenedor con margen automático */
 }
 .tendencia-image {
  width: 70px; /* Ajusta el tamaño según sea necesario */
  height: 70px; /* Ajusta el tamaño según sea necesario */
  background-image: url('./tendencia.png'); /* Ruta a la imagen */
  background-size: cover; /* Ajusta la imagen al contenedor */
  background-position: center; /* Centra la imagen */
  margin: 1rem auto; /* Centra el contenedor con margen automático */
 }

.robot-image {
  width: 70px; /* Ajusta el tamaño según sea necesario */
  height: 70px; /* Ajusta el tamaño según sea necesario */
  background-image: url('./robot.png'); /* Ruta a la imagen */
  background-size: cover; /* Ajusta la imagen al contenedor */
  background-position: center; /* Centra la imagen */
  margin: 1rem auto; /* Centra el contenedor con margen automático */
 }

body {
  background-image: url('/FondoLumi.webp');
  background-size: cover; /* Ajusta el tamaño para cubrir la pantalla */
  background-position: center; /* Centra el fondo */
  background-repeat: no-repeat; /* Evita la repetición */
  height: 100vh; /* Asegura que cubra toda la altura */
  margin: 0; /* Elimina los márgenes por defecto */
}